.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text);

  //   font-size: 44px;
  //   line-height: 1.36;

  //   text-transform: uppercase;
}

.hero {
  padding-top: 58px;
  padding-bottom: 58px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/background/hero-mobile-480.jpg');

  // padding-top: 200px; // padding-bottom: 200px; // margin-left: auto; // margin-right: auto; // max-width: 1600px; // background-repeat: no-repeat; // background-size: cover; // background-position: center;;;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('../images/background/hero-mobile-@2x-960.jpg');
  }
}

.hero__container {
  padding-right: 60px;
  padding-left: 60px;
  // width: 696px;
}

.hero__btn {
  padding: 10px 10px 10px 10px;
  min-width: 200px;

  background-color: var(--accent);
  color: var(--white-text);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color var(--speed) var(--duration),
    box-shadow var(--speed) var(--duration);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
