.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background/hero-bcg.jpg);

  // padding-top: 200px;
  // padding-bottom: 200px;
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1600px;

  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
}

.hero .container {
  padding-right: 60px;
  padding-left: 60px;
  // width: 696px;
}
