.contacts__link {
  //   @include flexCenter(flex, center, null);

  //   padding-top: 32px;
  //   padding-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--accent);

  //   color: var(--main-text);
  //   font-size: 14px;
  //   line-height: 1.14;
  //   letter-spacing: 0.02em;

  transition: color var(--speed) var(--duration);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.contacts__link--mob-grey {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--main-text);
}

.contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  //   fill: currentColor;
  //   margin-right: 10px;
}

.contacts .contacts__item + .contacts__item {
  margin-bottom: 32px;

  // margin-left: 50px;
}

// .footer__connect {
//   margin-right: auto;
// }

.footer__contacts {
  margin-top: 8px;
  margin-bottom: 60px;

  // margin-top: 9px;
  // align-items: flex-start;
  // flex-direction: column;
}

.footer__contacts .contacts__item--footer + .contacts__item--footer {
  margin-top: 8px;
  // margin-left: 0;
}

.contacts__link--footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--speed) var(--duration);

  &:hover,
  &:focus {
    color: var(--accent);
  }

  // padding: 0;
}
