.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  //   @include flexCenter(flex, center, null);
}
