.menu {
  z-index: 2;
  @media screen and (max-width: 767px) {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: var(--white-text);
    &.is-open {
      display: flex;
      flex-direction: column;
    }
  }
}

.menu__btn {
  z-index: 3;
  top: 10px;
  right: 15px;

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--secondary-text);
  background-color: transparent;
  transition: color var(--speed) var(--duration);

  &:hover,
  &:focus {
    color: var(--accent);
    transition: color var(--speed) var(--duration);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  //   @include flexCenter;
}

.menu__icon {
  fill: currentColor;
}

.menu__btn .menu__cross {
  display: none;
}

.menu__btn.is-open {
  color: var(--secondary-text);
  transition: color var(--speed) var(--duration);
  &:hover,
  &:focus {
    color: var(--accent);
    transition: color var(--speed) var(--duration);
  }
}

.menu__btn.is-open .menu__cross {
  display: block;
}

.menu__btn.is-open .menu__lines {
  display: none;
}

.header__navigation {
  margin-bottom: auto;
  // display: flex;
  // flex-direction: row-reverse;
  // justify-content: space-between;
  // margin-left: 93px;
}

// .navigation__list {
// display: none;
//   display: flex;
// }

// .navigation__item {

// }

.navigation__item:not(:last-child) {
  margin-bottom: 32px;

  // position: relative;
  // margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-text);

  //   display: block;
  //   padding-top: 32px;
  //   padding-bottom: 32px;

  //   line-height: 1.14;
  //   letter-spacing: 0.02em;

  transition: color var(--speed) var(--duration);

  &:hover,
  &:focus {
    color: var(--accent);
  }

  &--current {
    color: var(--accent);

    //     &::after {
    //       content: '';
    //       position: absolute;
    //       left: 0;
    //       bottom: -1px;
    //       width: 100%;

    //       border-radius: 2px;
    //       height: 4px;
    //       background: var(--accent);
    // }
  }
}

.profiles {
  display: flex;
  margin-top: 64px;
}

.profiles__item {
  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}

.profiles__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: var(--accent);
}

// .profiles__link::after {
//   width: 1px;
//   height: 22px;
//   color: rgba(33, 33, 33, 0.2);
// }

// .profiles__item:not(:last-child)
