.member-social {
  display: flex;
  justify-content: center;
}

.member-social__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }

  //     margin-right: 10px;

  //   &:last-child {
  //     margin-right: 0;
  //   }
}

.member-social__link {
  //   @extend %social;
  color: var(--grey-social);

  transition: background-color var(--speed) var(--duration),
    color var(--speed) var(--duration);

  &:hover,
  &:focus {
    // background-color: var(--accent);
    color: var(--accent);
  }
}

.member-social__icon {
  display: flex;
  fill: currentColor;
}
