// .footer__subscription {
//   margin-left: 93px;
// }

.subscription__input {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscription__field {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  //   margin-right: 12px;

  width: 100%;
  height: 50px;
  left: 815px;
  top: 2787px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(
    --white-text
  ); /* need to confirm this color - not specified in the instruction */
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  transition: border-color var(--speed) var(--duration);

  &:focus {
    border-color: var(--accent);
  }

  //   width: 358px;
}

.subscription__btn {
  @include flexCenter;
  width: 200px;
  height: 50px;

  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  cursor: pointer;

  transition: background-color var(--speed) var(--duration),
    box-shadow var(--speed) var(--duration);

  &:hover,
  &:focus {
    background-color: #188ce8; /* need to confirm. not specified in the instr */
  }
}

.subscription__icon {
  fill: var(--white-text);
  margin-left: 10px;
}

// .close-btn {
//   position: absolute;
//   @include flexCenter;
//   top: 8px;
//   right: 8px;
//   width: 30px;
//   height: 30px;

//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border-radius: 50%;
//   fill: #000000;
//   background-color: var(--white-text);
//   cursor: pointer;

//   transition: fill var(--speed) var(--duration), box-shadow var(--speed) var(--duration);

//   &:hover,
//   &:focus {
//     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
//     fill: var(--accent);
//   }
// }

// .modal__btn {
//   width: 200px;
//   height: 50px;
//   left: 700px;
//   top: 712px;
//   display: block;
//   align-self: center;

//   background-color: var(--accent);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: none;
//   cursor: pointer;

//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.06em;
//   color: var(--white-text);

//   transition: background-color var(--speed) var(--duration);

//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//   }
// }
