// .footer__subscription {
//   margin-left: 93px;
// }

.subscription__input {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscription__field {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  //   margin-right: 12px;

  width: 100%;
  height: 50px;
  left: 815px;
  top: 2787px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(
    --white-text
  ); /* need to confirm this color - not specified in the instruction */
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  transition: border-color var(--speed) var(--duration);

  &:focus {
    border-color: var(--accent);
  }

  @media screen and (min-width: 768px) {
    max-width: 450px;
  }

  //   width: 358px;
}

.subscription__btn {
  @include flexCenter;
  width: 200px;
  height: 50px;

  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  cursor: pointer;

  transition: background-color var(--speed) var(--duration),
    box-shadow var(--speed) var(--duration);

  &:hover,
  &:focus {
    background-color: #188ce8; /* need to confirm. not specified in the instr */
  }
}

.subscription__icon {
  fill: var(--white-text);
  margin-left: 10px;
}
