.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text);

  //   font-size: 44px;
  //   line-height: 1.36;

  //   text-transform: uppercase;
}

// .services__title,
// .team__title,
// .clients__title {
//   @extend %main-title;
// }

// .join-social__title,
// .subscription__title {
//   @extend %footer-title;
// }

.team__title,
.clients__title {
  @extend %main-title;
}

// .join-social__title,
// .subscription__title {
//   @extend %footer-title;
// }
