html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.page {
  background-color: #ffffff;
  color: var(--main-text);
  font-family: $fontPrimary;

  @media screen and (min-width: 1200px) {
    & {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

a {
  text-decoration: none;
}

.container {
  padding: 60px 15px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  // margin: 0 auto;

  @media screen and (min-width: 768px) {
    & {
      width: 768px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: 1200px;
    }
  }
}

.section {
  @media screen and (min-width: 1200px) {
    & {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}
